<div class="page">
  <main>
    <div class="form">
      <div class="form__content">
        <div>
          <h1 class="form__title">{{data.message}}</h1>
          <p>{{data.info}}</p>
        </div>

        <a href="{{data.link}}" class="form__button">Повернутися назад</a>
      </div>
    </div>
  </main>
</div>