<div class="page">
  <main class="main">
    {{#with data.purchase}}
    <form method="POST" action="/purchase-update?id={{id}}" class="form-card">
      {{> heading title='Інформація про замовлення'}}
      <div>ID: {{id}}</div>

      {{>divider}}
      <div class="row">
        {{>field label="Ім'я" name="firstname" value=firstname readonly=true}}
        {{>field label="Прізвище" name="lastname" value=lastname readonly=true}}
      </div>
      <div class="row">
        {{>field readonly label="Телефон" name="phone" value=phone readonly=true}}
        {{>field readonly label="Пошта" name="email" value=email readonly=true}}
      </div>
      {{>divider}}

      <div class="row">
        {{>field label="Назва товару" name="product.title" value=product.title readonly=true}}
      </div>
      <div class="row">
        {{>field label="Коментар" name="comment" value=comment readonly=true}}
      </div>
      {{>divider}}

      <div class="row">
        {{>field label="Вартість товарів" name="productPrice" value=productPrice readonly=true}}
        {{>field label="Вартість доставки" name="deliveryPrice" value=deliveryPrice readonly=true}}
      </div>
      <div class="row">
        {{>field label="Вартість до сплати" name="totalPrice" value=totalPrice readonly=true}}
        {{>field label="Нараховані бонуси" name="bonus" value=bonus readonly=true}}
      </div>
      {{>divider}}

      {{>button text="Змінити дані"}}
      <a href="/purchase-list">Повернутися до списку</a>

    </form>
    {{/with}}

  </main>

</div>